/*----GLOBAL PROPERTIES----*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #ddd;
  min-height: 100%;
  position: relative; /*for fixed and absolute items in web-page, body position is declared relative*/
}

/*----GAME MODE SIDEBAR----*/

.game-mode {
  position: absolute; /*the div will have an absolute position compared to other elements in the body*/
  left: 120px; /*exact place of the div*/
  top: 300px; /*exact place of the div*/
  bottom: 0; /*exact place of the div*/
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 40px;
}
  
.player-vs-player,
.player-vs-robot {
  display: flex;
  align-items: center;
  justify-items: center;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px 12px #aaa8a8;
  cursor: pointer; /*is expected to act as a link when mouseover*/
  z-index: 1; /*the div will be in front of the animated elements*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
}
  
.player-vs-player {
  background-color: aliceblue;
}
  
.player-vs-robot {
  background-color:ivory;
}
  
.player-vs-player:hover {
  background-color: rgb(118, 187, 247);
}
  
.player-vs-robot:hover {
  background-color:rgb(251, 251, 118);
}
  
img {
  height: 6rem;
  width: 6rem;
  border: none;
}

/*----HEADER DIV----*/

.header {
  padding: 20px;
  z-index: 1; /*the div will be in front of the animated elements*/
}
  
.caption {
  font-family: fantasy, sans-serif;
  font-size: 110px;
  text-align: center;
  color: red;
}
  
.caption span.one { /*caption with colored texts*/
  color:blueviolet;
}
    
.caption span.two { /*caption with colored texts*/
  color:darkorange;
}
    
.caption span.three { /*caption with colored texts*/
  color:lightseagreen;
}

/*----MAIN DIV----*/

.main {
  font-family: 'Varela Round', sans-serif;
  padding: 0 20px;
  z-index: 1; /*the div will be in front of the animated elements*/
}
  
.info-section {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  color: blue;
}
  
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #ffffff;
  width: 484px;
  height: 484px;
  border: 2px solid #555;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.field {
  width: 160px;
  height: 160px;
  border: 0.5px solid #ddd;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #555;
  font-size: 100px;
  text-align: center;
  cursor: pointer; /*is expected to act as a link when mouseover*/
  user-select: none;
}
    
.field:hover {
  background-color: azure;
}

/*----FOOTER DIV----*/

@font-face { /*allows a custom font to be loaded on web-page*/
  font-family: 'Sansation Light';
  src: url(fonts/Sansation\ Light.ttf);
}

.footer {
  font-family: 'Sansation Light';
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  padding: 20px;
  z-index: 1; /*the div will be in front of the animated elements*/
}

a:link { 
  text-decoration: none; 
  color: black;
}

a:visited { 
  text-decoration: none; 
  color: black;
}

a:hover { 
  text-decoration: none; 
  color: fuchsia;
}

a:active { 
  text-decoration: none; 
  color: black;
}

/*----HIDDEN SECTIONS----*/

.final-message {
  position: fixed; /*the div will be fixed even if mouse scrolled down*/
  z-index: 1; /*the div will be in front of the animated elements*/
  top: 50%; /*exact place of the div*/
  left: 50%; /*exact place of the div*/
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  background-color: #222831;
  text-align: center;
  font-size: 30px;
  user-select: none;
  transform: translate(-50%, -50%) scale(0); /*will be animated*/
  transition: 200ms ease-in-out;
}
  
.final-message.active {
  transform: translate(-50%, -50%) scale(1);
}
  
.message-title {
  font-size: 40px;
}
  
.btn-restart {
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #393e46;
}

.btn-restart:hover {
  background-color: #4a4f57;
  border: 1px solid #00ffc3;
  cursor: pointer;
}
  
.overlay-window {
  display: none; /*invisible when inactive*/
  position: fixed; /*the div will be fixed even if mouse scrolled down*/
  top: 0; /*exact place of the div*/
  left: 0; /*exact place of the div*/
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
  
.overlay-window.active {
  display: block;
}