/*----GLOBAL PROPERTIES----*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #ddd;
  min-height: 100%;
  position: relative;
}